<thead class="center">
<tr>
  <th>
    <button
      md-raised-button
      class="btn"
      color="primary"
      (click)="listar('aprovada')">
      Aprovadas
    </button>
  </th>
  <th>
    <button
      md-raised-button
      class="btn"
      color="primary"
      (click)="listar('reprovada')">
      Reprovadas
    </button>
  </th>
  <th>
    <button
      md-raised-button
      class="btn"
      color="primary"
      (click)="listar('tramitacao')">
      Tramitação
    </button>
  </th>
</tr>
</thead>
