.principal {
  display: flex;
  justify-content: space-between;
}

.informacoes {
  display: flex;
  flex-direction: column;
}

.img-redes-sociais {
  width: 30px;
}

.redes-sociais {
  display: flex;
  align-items: baseline;
}

.redes-sociais > p {
  margin-right: 1em;
}


@media screen and (max-width: 425px) {
  .principal {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.imagem-frame {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.imagem-frame img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.imagem{
  width: 100%;
  height: auto;
}

.imagem {

}
